.contactButton {
    display: inline-block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px; 
    margin: 5px; 
}

.contactButton img {
    vertical-align: middle; 
    width: 100%; 
    height: 100%;
    float: right;
}
