/*One Page Website Styles*/
:root {
    --primary-color: #0080ff;
    --secondary-color: #ffffff;
    --third-color: #000000;
    --base-color: #3f9fff;
    --accent-color: #7fbfff;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: var(--third-color);
    background-color: var(--secondary-color);
}

header {
    background: var(--secondary-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #ccc;
}

header nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

header nav ul li {
    margin: 0 1rem;
}

header nav ul li a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    z-index: 1002; 
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-color);
    margin: 3px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.burger.active div:nth-child(1) {
    transform: rotate(45deg) translate(7.2px, 5px);
}

.burger.active div:nth-child(2) {
    opacity: 0;
}

.burger.active div:nth-child(3) {
    transform: rotate(-45deg) translate(7.2px, -5px);
}

.side-menu {
    display: none;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100%;
    width: 150px;
    background-color: #e6e6e6;
    padding-top: 60px;
    z-index: 1001;
    flex-direction: column;
    align-items: center;
    transition: right 0.3s ease;
}

.side-menu.active {
    right: 0;
}

.side-menu a {
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    width: 100%;
}

main {
    flex: 1;
    padding-top: 60px;
}

section {
    padding: 2rem;
    text-align: center;
    background-color: var(--secondary-color);
    color: var(--third-color);
    border-bottom: 1px solid #ccc;
}

footer {
    background: var(--third-color);
    color: var(--secondary-color);
    padding: 1rem 0;
    text-align: center;
    margin-top: auto;
    z-index: 1002;
}
/*--------------------------- Main Styles End ---------------------------------*/

section#home {
    height: 89vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section#home .animation {
    height: 100vh;
    width: 100%;
}

section#home h1 {
    font-size: 2.5rem;
    color: var(--third-color);
    margin: 1rem 0;
}

section#home p {
    font-size: 1.5rem;
    color: var(--third-color);
    margin: 1rem 0;
}

section#about div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

section#about h2 {
    font-size: 2rem;
    color: var(--third-color);
    margin: 1rem 0;
}

section#about p {
    font-size: 1.5rem;
    color: var(--third-color);
    margin: 1rem 0;
    max-width: 600px;
    text-align: left;
}

section#projects h2 {
    font-size: 2rem;
    color: var(--third-color);
    margin: 1rem 0;
}

section#projects p {
    font-size: 1.5rem;
    color: var(--third-color);
    margin: 1rem 0;
    max-width: 600px;
    text-align: center;
}

/*--------------------------- Section Styles End ------------------------------*/

.project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

.skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1500px;
    margin: 2rem auto;
}

.skills-columns {
    display: flex;
    width: 100%;
    justify-content: space-between;
    gap: 1rem; 
}

.skill-column {
    display: flex;
    flex-direction: column;
    width: 49%;
}

.skill {
    display: flex;
    align-items: center;
    width: 70%;
    margin-bottom: 1rem;
}

.skill p {
    flex: 1;
    margin: 0;
}

.bar {
    flex: 2;
    height: 20px;
    background-color: var(--accent-color);
    border-radius: 10px;
    overflow: hidden;
    margin-left: 1rem;
    position: relative;
}

.fill {
    height: 100%;
    background-color: var(--primary-color);
    width: 0;
    transition: width 2s ease-in-out;
    position: absolute;
    left: 0;
    top: 0;
}

.profile-picture {
    width: 10%;
    height: auto;
    margin: 3rem;
}

.highlight {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin: 1rem 0;
}

.highlight_p {
    font-size: 1.5rem;
    color: var(--primary-color);
    font-weight: bold;
    margin: 1rem 0;
}

.typewriter {
    font-weight: bold;
    color: var(--primary-color);
}

.cursor {
    font-weight: bold;
    color: var(--primary-color);
    animation: blink 1s infinite;
}

/*--------------------------- Extra Styles End ------------------------------*/

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }
    50.01%, 100% {
        opacity: 0;
    }
}

@media (max-width: 768px) {
    .profile-picture {
        width: calc(100% - 20px);
        height: auto;
    }

    section#about div {
        flex-direction: column;
    }

    .skills-columns {
        flex-direction: column;
        gap: 0; /* Remove space between the columns on smaller screens */
    }

    .skill-column {
        width: 100%;
    }

    header nav ul {
        display: none;
    }

    .burger {
        display: flex;
    }

    .side-menu {
        display: flex;
    }
}